@import url(../css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@font-face {
  font-family: "Intro Demo";
  src: url("../fonts/IntroDemo-BlackCAPS.eot") format("eot"),
  url("../fonts/IntroDemo-BlackCAPS.woff") format("woff"),
  url("../fonts/IntroDemo-BlackCAPS.woff2") format("woff2");
}
%headFontStyles{
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 63px;
  color: #3FB7FF;
}
%circleTemp {
  position: absolute;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  z-index: 12;
}
$headFont: "Intro Demo";
$textFont: "Open Sans";
* {
  font-family: $textFont;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
}
body{
  margin: 0;
  padding: 0;
}
h1,h2,h3{
  font-family: $headFont;
}
a, a:hover {
  text-decoration: none;
}
p {
  margin-bottom: 0;
}
.waveWrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 960px;
  max-height: 100%;
  @import "circlesanimate";
}
.logo {
  //display: inline-block;
  position: absolute;
  width: 28%;
  overflow: hidden;
  height: 25%;
  background: url(../img/logo-bg.png) no-repeat;
  z-index: 12;

  img{
    padding-top: 35px;
    padding-left: 54px;
  }
}
.phones{
  position: absolute;
  right: 250px;
  top: 96px;
  z-index: 12;

  :last-child{
    margin-left: 34px;
  }

  .phone{
    font-size: 20px;
    color: white;
  }
}

@import "menu";

.waveWrapper > .messendgers {
  transform: rotate(-90deg);
  transform-origin: 0 0;
  position: absolute;
  left: 74px;
  top: 45%;
  z-index: 11;
  .telegram, .viber {
    color: #ffffff;
    margin-right: 50px;
  }
}
.mainPromo{
  position: absolute;
  top: 230px;
  width: 100%;
  z-index: 10;
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .headding{
    max-width: 595px;
    min-height: 189px;
    padding-right: 195px;
    color: #fff;
    margin: 0;
    span{
      font-family: $headFont;
      @extend %headFontStyles;
      max-width: 400px;
      color: #fff;
      margin: 0;
    }
  }
  .promoText{
    font-size: 24px;
    line-height: 140%;
    color: #ffffff;
    max-width: 595px;
    margin: 30px 0;
  }
  .promoButtons{
    a{
      color: #4F26AF;
    }
    @import "buttons";
    .callback-btn{
      background: transparent;
      margin-left: 15px;
      color: #ffffff;
      border: 4px solid $fuschia;
    }
  }
}
.mainPromo.thanks{
  text-align: center;
  h2{
    padding-right: 0;
  }
  h2 img{
    margin-bottom: 40px;
  }
  .promoText{
    font-size: 20px;
  }
}
.promoTextBottom{
  position: absolute;
  width: 100%;
  top: 65%;
  left: calc(50% - 255px);
  z-index: 10;
  max-width: 595px;
  margin: 30px 0;
  p {
    color: #ffffff;
    text-align: center;
    max-width: 485px;
    margin-bottom: 40px;
  }
  .nextStep{
    position: absolute;
    z-index: 10;
    margin-top: 40px;
    left: 42%;
    width: 16px;
    height: 49px;
    background: url("../img/arrow-down.svg");
  }
  .loock-video{
    position: absolute;
    z-index: 10;
    margin-top: 20px;
    left: 39%;
    width: 91px;
    height: 91px;
    background: url("../img/play.svg");
    &-text{
      position: absolute;
      z-index: 10;
      margin-top: 125px;
      left: 32%;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}
.waveWrapperInner {
  position: absolute;
  width: 101%;
  overflow: hidden;
  height: 100%;
  bottom: 0px;
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bgTop {
  z-index: 1;
  //opacity: 0.5;
}
.wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 101%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 100%;
}
.waveBottom {
  background-size: 100%;
  top: 14%;
  left: -3%;
  transform: rotate(3deg);
  z-index: 11;
}

.text-js{
  opacity: 0;
}
.cursor{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}
@keyframes flash{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.firstVideo{
  max-width: 1180%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 260px;
  .circle{
    @extend %circleTemp;
  }
  .circle-9{
    background: #B1ED07;
    width: 21px;
    height: 21px;
    bottom: -30%;
    right: 20%;
  }
  .circle-3{
    background: #11C6FF;
    width: 92px;
    height: 92px;
    filter: blur(5px);
    opacity: 0.2;
    top: 42%;
    left: 6%;
    z-index: -1;
  }
  .circle-4{
    opacity: 0.8;
    border: 4px solid #75C7E9;
    box-sizing: border-box;
    filter: blur(5px);
    width: 49px;
    height: 49px;
    top: -10%;
    right: 9%;
  }
  .circle-5{
    background: #FFDD00;
    width: 41px;
    height: 41px;
    top: 35%;
    right: 5%;
  }
  .video-container{
    position: relative;
    margin: auto;
    iframe{
      max-width: 100%;
      max-height: 100%;
      border-radius: 80px 80px 0 0;
      z-index: 9;
    }
    //.video-block::after{
    //    content: url("../img/play-lg.svg");
    //    display: block;
    //    max-width: 157px;
    //    max-height: 157px;
    //    position: absolute;
    //    top: calc(50% - 70px);
    //    left: calc(50% - 78px);
    //    z-index: 11;
    //}
    img{
      border-radius: 80px 80px 0 0;
      max-width: 1120px;
      max-height: 630px;
      display: block;
      position: relative;
      z-index: 9;
      &::after{
        content: url("../img/play-lg.svg");
        display: block;
        max-width: 157px;
        max-height: 157px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 11;
      }
    }
    .caption-box{
      position: absolute;
      width: 100%;
      height: 121px;
      background: url(../img/bg-owners.png) no-repeat;
      background-size: contain;
      bottom: -115px;
      left: 0;
      z-index: 10;
      .caption-item{
        display: inline-block;
        color: #ffffff;
        height: 115px;
        font-size: 24px;
        line-height: 140%;
        position: absolute;
        right: 0;
        box-sizing: border-box;
      }
      .caption-item-1{
        padding-top: 20px;
        padding-left: 80px;
        width: 100%;
      }
      .caption-item-2{
        font-weight: 600;
        width: 44.75%;
        box-sizing: border-box;
        background: #5831B5;
        border: 5px solid #F2C94C;
        border-radius: 117px 120px 120px 120px;
        text-align: center;
        padding-top: 20px;
        padding-right: 21%;
        opacity: 1;
      }
      .caption-item-3{
        font-weight: 600;
        width: 22.3%;
        padding-top: 20px;
        background: #5831B5;
        border: 5px solid #FF7E06;
        border-radius: 117px 112px 112px 120px;
        text-align: center;
        opacity: 1;
      }
    }
  }
}
.counterBlock{
  position: relative;
  max-width: 1180px;
  margin: auto;
  margin-bottom: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .circle{
    @extend %circleTemp;
  }
  .circle-9{
    background: #B1ED07;
    width: 21px;
    height: 21px;
    top: 50%;
    left: 3%;
  }
  .circle-3{
    background: #FFDD00;
    width: 11px;
    height: 11px;
    top: 65%;
    left: 23%;
  }
  .circle-5{
    background: #FFDD00;
    width: 11px;
    height: 11px;
    top: 45%;
    right: 25%;
  }
  .counter-box{
    p{
      margin-top: 10px;
      text-align: center;
      color: #646060;
    }
  }
  .counter{
    border: 30px solid rgba(88, 49, 181,0.1);
    border-radius: 50%;
    max-width: 204px;
    .progress-bars{
      position: relative;
      height: 144px;
      z-index: 10;
      strong{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Intro Demo";
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 63px;
        color: #333333;
        width: 64px;
        height: 40px;
        top: calc(50% - 20px);
        left: calc(50% - 32px);
        z-index: 11;
      }
    }
  }
}
.advantages{
  position: relative;
  max-width: 1180px;
  margin: auto;
  margin-bottom: 120px;
  &::after{
    content: url("../img/dashed-line-2.png");
    width: 100%;
    height: 50%;
    position: absolute;
    left: -7%;
    bottom: -35%;
    z-index: 0;
  }
  .advantage{
    margin-top: 80px;
    display: flex;
    align-items: center;
    z-index: 2;
    .circle{
      @extend %circleTemp;
    }
    .circle-9{
      background: #B1ED07;
      width: 74px;
      height: 74px;
      background: #FF7E06;
    }
    .circle-3{
      background: #FFDD00;
      width: 15px;
      height: 15px;
    }
    &.advantage-1 .circle-9{
      top: 0;
      right: 22%;
    }
    &.advantage-1 .circle-3{
      top: 0;
      right: 23%;
    }
    &.advantage-2 .circle-9{
      top: 0;
      left: 24%;
    }
    &.advantage-2 .circle-3{
      top: 0;
      left: 27%;
    }
    &.advantage-3 .circle-9{
      width: 70px;
      height: 70px;
      top: 80%;
      left: 14%;
    }
    &.advantage-3 .circle-3{
      width: 35px;
      height: 35px;
      background: #B1ED07;
      top: -15%;
      right: 2%;
    }
  }
  h2{
    @extend %headFontStyles;
  }
  img{
    max-width: 100%;
  }
  .text-block{
    width: 50%;
    p{
      max-width: 435px;
    }
  }
  .advantage-1{

  }
  .advantage-2{
    margin-bottom: 160px;
    position: relative;
    .text-block{
      margin-left: 58px;
    }
  }
  .advantage-3{
    position: relative;
    display: flex;
    justify-content: center;
    .text-block{
      max-width: 525px;
      margin-right: 75px;
      margin-bottom: 100px;
      h2{
        margin-top: 12px;
      }
      p{
        color: #3FB7FF;
      }
      :first-child{
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}
.secondVideo{
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 220px;
  .circle{
    @extend %circleTemp;
  }
  .circle-3{
    background: #11C6FF;
    width: 92px;
    height: 92px;
    filter: blur(5px);
    opacity: 0.2;
    top: 42%;
    left: 6%;
    z-index: -1;
  }
  .circle-5{
    background: #FFDD00;
    width: 41px;
    height: 41px;
    top: 35%;
    right: 5%;
  }
  .video-container{
    position: relative;
    margin: auto;
    iframe{
      border-radius: 80px 80px 0 0;
      z-index: 9;
    }
    .mobile-text{
      display: none;
    }
    .desktop-text{
      display: block;
    }
    .caption-box{
      position: absolute;
      width: 100%;
      height: 121px;
      background: url(../img/bg-owners.png) no-repeat;
      background-size: contain;
      bottom: -110px;
      left: 0;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 5px solid transparent;
      box-sizing: border-box;
      p{
        color: #ffffff;
        font-size: 24px;
        margin-right: 68px;
        margin-bottom: 0;
      }
      @import "buttons";
      .bubbly-button{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.locationBlock{
  max-width: 1180px;
  margin: auto;
  margin-bottom: 140px;

  h2{
    @extend %headFontStyles;
    font-size: 35px;
    line-height: 100%;
    max-width: 470px;
    color: #FF7E06;
  }
  .location-container{
    position: relative;
    display: flex;
    justify-content: center;
    .circle{
      @extend %circleTemp;
    }
    .circle-3{
      background: #11C6FF;
      width: 72px;
      height: 72px;
      border-radius: 50%;
      filter: blur(10px);
      opacity: 0.2;
      top: 25%;
      right: -5%;
      z-index: -1;
    }
    img{
      margin-top: -80px;
    }
    .text-block{
      max-width: 425px;
      margin-right: 30px;
      @import "buttons";
      .bubbly-button{
        background: #9D75FF;
        border: 2px solid #9D75FF;
        color: #ffffff;
        text-transform: none;
        width: 425px;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        &:hover{
          background: #FFFFFF;
          color: #9D75FF;
        }
        &:before{
          display: none;
          top: -75%;
          background-image:
                  radial-gradient(circle, #9D75FF 20%, transparent 20%),
                  radial-gradient(circle, transparent 20%, #9D75FF 20%, transparent 30%),
                  radial-gradient(circle, #9D75FF 20%, transparent 20%),
                  radial-gradient(circle, #9D75FF 20%, transparent 20%),
                  radial-gradient(circle, transparent 10%, #9D75FF 15%, transparent 20%),
                  radial-gradient(circle, #9D75FF 20%, transparent 20%),
                  radial-gradient(circle, #9D75FF 20%, transparent 20%),
                  radial-gradient(circle, #9D75FF 20%, transparent 20%),
                  radial-gradient(circle, #9D75FF 20%, transparent 20%);
          background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
        }
        &:after{
          display: none;
          bottom: -75%;
          background-image:
                  radial-gradient(circle, #9D75FF 20%, transparent 20%),
                  radial-gradient(circle, #9D75FF 20%, transparent 20%),
                  radial-gradient(circle, transparent 10%, #9D75FF 15%, transparent 20%),
                  radial-gradient(circle, #9D75FF 20%, transparent 20%),
                  radial-gradient(circle, #9D75FF 20%, transparent 20%),
                  radial-gradient(circle, #9D75FF 20%, transparent 20%),
                  radial-gradient(circle, #9D75FF 20%, transparent 20%);
          background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
        }
      }
      .location-text{
        margin-top: 40px;
      }
    }
  }
}
.card-slider{
  max-width: 95%;
  margin: auto;
  margin-bottom: 160px;
  .card-head{
    max-width: 1180px;
    margin: auto;
  }
  h2{
    @extend %headFontStyles;
    max-width: 500px;
  }
  &>p{
    max-width: 500px;
  }
  .slider-container{
    margin-top: 80px;
    display: inline-block;
    perspective: 100px;
    perspective-origin: center;
    .slider-item{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #5831B5;
      border-radius: 49px;
      box-sizing: border-box;
      max-width: 420px;
      min-height: 710px;
      padding: 20px;
      h4{
        color: #FFF500;
        font-weight: bold;
        font-size: 22px;
        line-height: 31px;
        margin-top: 9px;
        margin-bottom: 9px;
        max-width: 500px;
      }
      p{
        color: #ffffff;
        margin-top: 9px;
        margin-bottom: 19px;
        max-width: 500px;
      }
      img{
        max-width: 100%;
        height: auto;
      }
      @import "buttons";
      .slider-button{
        color: #4F26AF;
        background: #FFF500;
        font-size: 19px;
        border-radius: 30px;
        display: inline-block;
        margin-left: 40%;
        padding: 16px 39px;
        max-width: 20%;
        z-index: 10;
        text-align: center;
        span{
          display: none;
        }
      }
    }
    .owl-stage .owl-item{
      visibility: hidden;
      padding-bottom: 20px;
      opacity: 0;
    }
    .owl-stage .active{
      transform: translateX(100px) scale(0.8);
      opacity: 0.4;
      transition: all .9s ease-out;
      visibility: visible;
    }
    .owl-stage .active.center + .active{
      transform: translateX(-100px) scale(0.8);
      z-index: 10;
      opacity: 0.4;
      transition: all .9s ease-out;
      visibility: visible;
    }
    .owl-stage .active + .active.center{
      transform: translateX(0) scale(1);
      z-index: 12;
      transition: all 1s ease-in;
      opacity: 1;
      visibility: visible;
    }
    .owl-stage .active.center{
      .slider-item{
        box-shadow: 5px 5px 20px rgba(53, 20, 147, 0.3);
      }
      .slider-button{
        margin-left: 0px;
        margin-bottom: 10px;
        width: 100%;
        max-width: 100%;
        text-transform: none;
        padding: 16px 5px;
        span{
          display: inline;
          font-size: 18px;
          padding: 16px 5px;
          width: 100%;
        }
      }
    }
    .owl-nav{
      button{
        width: 30%;
        height: 100%;
        position: absolute;
        outline: none;
      }
      .owl-prev{
        left: 5%;
        top: 0;
      }
      .owl-next{
        right: 5%;
        top: 0;
      }
    }
    .owl-nav.disabled, .owl-dots.disabled{
      display: block;
    }
  }
  .slider-container-2{
    display: none;
  }
}
.owl-theme .owl-nav [class*=owl-]:hover{
  background: transparent;
}
.owl-theme .owl-dots .owl-dot span,.owl-theme .owl-dots .owl-dot:hover span{
  width: 45px;
  height: 10px;
  margin: 5px 7px;
  background: #FFDD00;
  display: block;
  -webkit-backface-visibility: visible;
  transition: all .2s ease;
  border-radius: 5px;
}
.owl-theme .owl-dots .owl-dot:focus,
.owl-theme .owl-dots .owl-dot span:focus,{
  outline: none;
}
.slider-container.owl-carousel.owl-theme div.owl-dots,
.sertificates-slider.owl-carousel.owl-theme div.owl-dots,
.services-slider.owl-carousel.owl-theme div.owl-dots,
.review-slider.owl-carousel.owl-theme div.owl-dots{
  margin-top: 40px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background: #FFDD00;
}
.owl-theme .owl-dots .owl-dot.active span{
  width: 120px;
}
.materials{
  max-width: 1180px;
  margin: auto;
  margin-bottom: 160px;
  h2{
    @extend %headFontStyles;
  }
  .sand{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
    position: relative;
    .mobile-img{
      display: none;
    }
    .desktop-img{
      display: block;
    }
    .circle{
      @extend %circleTemp;
    }
    .circle-3{
      background: #B1ED07;
      width: 74px;
      height: 74px;
      background: #FF7E06;
      top: 1%;
      right: 31%;
    }
    .circle-9{
      background: #FFDD00;
      width: 15px;
      height: 15px;
      top: -2%;
      right: 23%;
    }
    .sand-text{
      width: 50%;
      h3{
        font-size: 35px;
        color: #FF7E06;
        text-transform: uppercase;
        margin-bottom: 50px;
      }
      ul{
        position: relative;
        list-style-position: outside;
        max-width: 495px;
        box-sizing: border-box;
        li{
          list-style: none;
          margin-bottom: 40px;
          padding-left: 30px;
        }
        .sand-text-li-1::before{
          content: url("../img/1.png");
          position: absolute;
          left: 7px;
        }
        .sand-text-li-2::before{
          content: url("../img/2.png");
          position: absolute;
          left: 0;
        }
        .sand-text-li-3::before{
          content: url("../img/3.png");
          position: absolute;
          left: 0;
        }
      }
    }
  }
  .stencils{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    .mobile-img{
      display: none;
    }
    .stencils-text{
      width: 50%;
      margin-left: 85px;
      h3{
        font-size: 35px;
        color: #FF7E06;
        text-transform: uppercase;
        margin-bottom: 50px;
      }
      ul{
        position: relative;
        list-style-position: outside;
        max-width: 470px;
        box-sizing: border-box;

        li{
          list-style: none;
          margin-bottom: 40px;
          min-height: 77px;
          padding-left: 30px;
        }
        .sand-text-li-1::before{
          content: url("../img/1.png");
          position: absolute;
          left: 7px;
        }
        .sand-text-li-2::before{
          content: url("../img/2.png");
          position: absolute;
          left: 0;
        }
        .sand-text-li-3::before{
          content: url("../img/3.png");
          position: absolute;
          left: 0;
        }
      }
    }
  }
}
.sertificates{
  max-width: 1180px;
  margin: auto;
  margin-bottom: 210px;
  h2{
    @extend %headFontStyles;
    max-width: 50%;
  }
  p{
    max-width: 50%;
  }
  .sertificates-slider{
    margin-top: 80px;
    display: inline-block;
    .slider-item{
      max-width: 480px;
      height: auto;
    }
    .owl-stage .owl-item{
      visibility: hidden;
    }
    .owl-stage .active{
      transform: translateX(80px) scale(0.8);
      opacity: 0.5;
      transition: all .7s ease;
      visibility: visible;
    }
    .owl-stage .active.center + .active{
      transform: translateX(-80px) scale(0.8);
      z-index: 10;
      opacity: 0.5;
      transition: all .7s ease;
      visibility: visible;
    }
    .owl-stage .active + .active.center{
      transform: translateX(0) scale(1);
      z-index: 12;
      transition: all .7s ease;
      opacity: 1;
      visibility: visible;
    }
  }
  .sertificates-slider-2{
    display:none;
  }
  .owl-nav.disabled, .owl-dots.disabled{
    display: block;
  }
  .owl-nav{
    button{
      width: 30%;
      height: 100%;
      position: absolute;
      outline: none;
    }
    .owl-prev{
      left: 5%;
      top: 0;
    }
    .owl-next{
      right: 5%;
      top: 0;
    }
  }
}
.equipment{
  max-width: 1180px;
  margin: auto;
  margin-bottom: 220px;
  position: relative;
  display: flex;
  align-items: flex-start;
  position: relative;
  .circle{
    @extend %circleTemp;
  }
  .circle-9{
    background: #B1ED07;
    width: 17px;
    height: 17px;
    bottom: 10%;
    right: -2%;
  }
  img{
    margin-left: 40px;
    z-index: 11;
  }
  .mobile-img{
    display: none;
  }
  .equipment-warning{
    width: 100%;
    height: 121px;
    background: #602ED5;
    position: absolute;
    bottom: -74px;
    border-radius: 121px;
    z-index: 10;
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
    color: rgba(255,255,255,.5);
    padding-right: 70px;
    span{
      line-height: 121px;
    }
  }
  .equipment-text{
    margin-left: 120px;
    margin-top: 40px;
    max-width: 50%;
    h2{
      @extend %headFontStyles;
    }
  }
}
.earnings{
  position: relative;
  max-width: 1180px;
  margin: auto;
  margin-bottom: 230px;
  .circle{
    @extend %circleTemp;
  }
  .circle-7{
    width: 166px;
    height: 166px;
    top: -4%;
    right: -5%;
  }
  h2{
    @extend %headFontStyles;
    max-width: 50%;
  }
  &>img{
    display: none;
  }
  p{
    max-width: 500px;
  }

  .earnings-container{
    margin-top: 80px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    img{
      display: block;
      margin-top: -150px;
    }
  }
  &-text-block{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 550px;
    max-width: 100%;
    :nth-child(2){
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .dashline{
      position: absolute;
      width: 0;
      top: -30px;
      right: 190px;
      height: 412px;
      border-left: 2px dashed #3FB7FF;
    }
    .earnings-text{
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 555px;
      box-sizing: border-box;
      background: #9D75FF;
      border: 5px solid #9D75FF;
      border-radius: 51px;
      color: #ffffff;
      padding-left: 39px;
      padding-right: 31px;
      transition: all .3s ease-in-out;
      :first-child{
        max-width: 291px;
        margin-right: 30px;
      }
      &:hover{
        background: #ffffff;
        border: 5px solid #9D75FF;
        color: #9D75FF;
      }
      .price{
        font-family: $headFont;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 20px;
        span{
          font-weight: 900;
          margin-right: 0;
        }
      }
    }
  }
  .stat-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .mobile-img{
      display: none;
    }
    .desktop-img{
      display: block;
    }
    .stat-text{
      h3{
        color: #FF7E06;
        max-width: 487px;
        margin-bottom: 30px;
      }
      ul{
        max-width: 507px;
      }
    }
  }
  &::after{
    content: url("../img/dashes-line.png");
    width: 100%;
    height: 50%;
    position: absolute;
    left: -11%;
    bottom: -200px;
    z-index: 12;
  }
}
.services{
  max-width: 1180px;
  margin: auto;
  margin-bottom: 160px;
  h2{
    color: #3FB7FF;
    max-width: 455px;
    margin-bottom: 80px;
  }
  .services-slider{
    .services-item{
      background: #FFFFFF;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .services-text{
        max-width: 490px;
        margin-right: 10%;
        margin-left: 2%;
        h3{
          position: relative;
          color: #FF7E06;
          max-width: 358px;
          img{
            max-width: 52px;
            max-height: 71px;
            position: absolute;
            top: -50px;
            left: -12px;
          }
        }
      }
      & > img{
        max-width: 100%;
        margin-right: 10px;
      }
    }
    .services-slider.owl-carousel .owl-stage .active,
    .review-slider.owl-carousel .owl-stage .active{
      transition: all 1s ease-in-out;
    }
    .services-item-1 .services-text h3 img{
      max-width: 29px;
    }
    .owl-nav {
      button {
        width: 1%;
        height: 100%;
        position: absolute;
        outline: none;
        span{
          font-size: 60px;
          color: #FFDD00;
        }
      }
      .owl-prev {
        left: -2%;
        top: 0;
      }

      .owl-next {
        right: -2%;
        top: 0;
      }
    }
  }
}
.profitCalc {
  margin-bottom: 160px;
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
  background: url('../img/profit-calc-bg.png') no-repeat;
  background-size: cover;
  min-height: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .circle {
    @extend %circleTemp;
  }
  .circle-7 {
    width: 166px;
    height: 166px;
    top: 60%;
    right: 32%;
  }
  .circle-6 {
    background: transparent;
    border: 4px solid #75C7E9;
    width: 44px;
    height: 44px;
    top: 10%;
    left: 30%;
  }
  .circle-5 {
    background: linear-gradient(0deg, #FEB61D, #FEB61D), #FEAA00;
    width: 109px;
    height: 109px;
    top: -6%;
    left: 15%;
  }
  .circle-4 {
    width: 92px;
    height: 92px;
    background: #11C6FF;
    opacity: 0.2;
    filter: blur(5px);
    top: 8%;
    left: 5%;
  }
  .circle-3{
    width: 166px;
    height: 166px;
    top: 60%;
    right: 32%;
  }
  .circle-2{
    background: #FFDD00;
    width: 41px;
    height: 41px;
    top: 70%;
    left: 15%;
  }
  .circle-1{
    opacity: 0.5;
    border: 4px solid #75C7E9;
    box-sizing: border-box;
    filter: blur(5px);
    width: 118px;
    height: 118px;
    top: 85%;
    right: 12%;
  }
  .profitcalc-container{
    max-width: 480px;
    margin-bottom: 150px;
    h2{
      color: #ffffff;
      min-height: 126px;
      span{
        @extend %headFontStyles;
        max-width: 595px;
        color: #fff;
        margin: 0;
      }
    }
    p{
      color: #ffffff;
      margin-bottom: 50px;
    }
    @import "buttons";
    .profitcalc-btn{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-right: 45px;
      padding-left: 45px;
      font-weight: 600;
      font-size: 22px;
      line-height: 30px;
      color: #ffffff;
      border: 4px solid #FFDD00;
      background: transparent;
      box-sizing: border-box;
      border-radius: 90px;
      width: 380px;
      height: 104px;
    }
  }
  .screen{
    width: 391px;
    height: 532px;
    background: #ffffff;
    border-radius: 35px;
    margin-bottom: 130px;
    &.desktop-img{
      display: block;
    }
    &.mobile-img{
      display: none;
    }
  }
  .profitcalc-wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}
.reviews{
  max-width: 1180px;
  margin: auto;
  margin-bottom: 160px;
  h2{
    @extend %headFontStyles;
    max-width: 50%;
    margin-bottom: 80px;
  }
  .review-slider{
    .review-item{
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: #FFFFFF;
      img{

      }
      .review-text{
        margin-left: 120px;
        max-width: 490px;
        h3 {
          position: relative;
          color: #FF7E06;
          max-width: 358px;
          font-weight: 900;
          font-size: 32px;

          img {
            max-width: 52px;
            max-height: 71px;
            position: absolute;
            top: -50px;
            left: -12px;
          }
        }
      }
    }
    .review-item-1 .review-text h3 img{
      max-width: 29px;
    }
    .owl-nav {
      button {
        width: 1%;
        height: 100%;
        position: absolute;
        outline: none;
        span{
          font-size: 60px;
          color: #FFDD00;
        }
      }

      .owl-prev {
        left: -2%;
        top: 0;
      }

      .owl-next {
        right: -2%;
        top: 0;
      }
    }
  }
}
.training{
  max-width: 1180px;
  margin: auto;
  margin-bottom: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  .circle {
    @extend %circleTemp;
  }
  .circle-7 {
    background: #11C6FF;
    opacity: 0.2;
    filter: blur(5px);
    width: 91px;
    height: 91px;
    top: -3%;
    right: -1%;
    z-index: -1;
  }
  .circle-6 {
    background: #FFDD00;
    width: 28px;
    height: 28px;
    bottom: -25%;
    right: 8%;
  }
  .training-text{
    h2{
      font-weight: 900;
      font-size: 35px;
      line-height: 35px;
      color: #FF7E06;
      text-transform: uppercase;
      max-width: 430px;
      margin-bottom: 40px;
    }
    p{
      max-width: 375px;
      span{
        color: #FF7E06;
      }
    }
  }
}
.cta-block{
  position: relative;
  margin-bottom: 160px;
  min-height: 475px;
  background: url("../img/cta-bg.png") no-repeat;
  background-size: 100% 100%;
  .circle{
    @extend %circleTemp;
  }
  .circle-7{
    width: 166px;
    height: 166px;
    top: 11%;
    right: 9%;
  }
  .cta-bg{
    z-index: 9;
  }
  .cta-text{
    position: absolute;
    z-index: 10;
    width: 100%;
    margin-top: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
    @import "buttons";
    .bubbly-button{
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
    }
    h2{
      @extend %headFontStyles;
      color: #ffffff;
      max-width: 600px;
      margin-right: 100px;
      margin-bottom: 0;
    }
  }
}
.owners{
  position: relative;
  .circle {
    @extend %circleTemp;
  }
  .circle-7 {
    background: transparent;
    border: 4px solid #75C7E9;
    width: 44px;
    height: 44px;
    bottom: -35%;
    right: 3%;
  }
  .circle-6 {
    background: transparent;
    opacity: 0.6;
    border: 4px solid #75C7E9;
    box-sizing: border-box;
    filter: blur(5px);
    width: 44px;
    height: 44px;
    top: 10%;
    right: 3%;
  }
  h2{
    @extend %headFontStyles;
    max-width: 60%;
    margin-bottom: 80px;
  }
  max-width: 1120px;
  margin: auto;
  margin-bottom: 260px;
  .video-container{
    position: relative;
    margin: auto;
    iframe{
      border-radius: 80px 80px 0 0;
      z-index: 9;
    }
    .caption-box{
      position: absolute;
      width: 100%;
      height: 121px;
      background: url(../img/bg-owners.png) no-repeat;
      background-size: contain;
      bottom: -110px;
      left: 0;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 5px solid transparent;
      box-sizing: border-box;
      p{
        color: #ffffff;
        font-size: 24px;
        margin-right: 68px;
      }
      @import "buttons";
      .bubbly-button{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.faq{
  max-width: 1180px;
  margin: auto;
  margin-bottom: 70px;
  h2{
    @extend %headFontStyles;
    max-width: 50%;
    margin-bottom: 80px;
  }
  .accordion{
    .row{
      padding-left: 35px;
    }
    .card{
      margin-bottom: 80px;
      border: none;
      border-radius: 0;
      .card-header{
        background: none;
        border: none;
        border-radius: 0;
        padding-left: 55px;
        padding-top: 5px;
        padding-bottom: 5px;
        min-height: 70px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .faq-btn{
          border: none;
          background: none;
          text-align: inherit;
          color: #646060;
          font-weight: bold;
          font-size: 20px;
          line-height: 27px;
          outline: none;
          &::before{
            box-sizing: border-box;
            content: '1';
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            position: absolute;
            left: -35px;
            top: 0;
            border-radius: 50%;
            background: #FEC22C;
            font-weight: bold;
            font-size: 30px;
            color: #fff;
          }
          &.collapsed::before{
            color: #646060;
            background: #FFFFFF;
            border: 5px solid #FEC22C;
          }
        }
      }
      .card-body{
        border-left: 2px solid #FEC22C;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        color: #646060;
        padding-top: 0;
        padding-bottom: 5px;
        padding-left: 55px;
      }
    }
    #headingOne .faq-btn::before{content:'1';}
    #headingTwo .faq-btn::before{content:'2';}
    #headingThree .faq-btn::before{content:'3';}
    #headingFour .faq-btn::before{content:'4';}
    #headingFive .faq-btn::before{content:'5';}
    #headingSix .faq-btn::before{content:'6';}
    #headingSeven .faq-btn::before{content:'7';}
    #headingEight .faq-btn::before{content:'8';}
  }
}
.footer{
  position: relative;
  background: url("../img/footer-bg.png") no-repeat;
  background-size: 100%;
  background-position-y: 60px;
  .footer-container{
    padding-top: 320px;
    max-width: 1120px;
    margin: auto;
    .footer-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(172, 150, 188, 0.5);
      padding-bottom: 45px;
      margin-bottom: 70px;
      @import "buttons";
      .bubbly-button{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
      }
      h2{
        @extend %headFontStyles;
        color: #ffffff;
        span{
          font-size: 42px;
          line-height: 50px;
        }
      }
    }
    .footer-bottom{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      .footer-bottom-column{
        max-width: 33%;
        .footer-column-list{
          list-style: none;
          color: #ffffff;
          padding-left: 0;
          li{
            margin-bottom: 15px;
          }
          a{
            color: #ffffff;
          }
        }
      }
    }
    .copywrite{
      text-align: right;
      font-size: 16px;
      color: #ffffff;
      padding-bottom: 60px;
      margin-top: 50px;
      margin-bottom: 0;
      opacity: 0.7;
      a{
        color: #ffffff;
        font-size: 16px;
      }
    }
    .circle {
      position: absolute;
      border-radius: 100%;
      width: 100px;
      height: 100px;
      z-index: 12;
    }
    .circle-2{
      background: transparent;
      border: 4px solid #75C7E9;
      width: 44px;
      height: 44px;
      top: 25%;
      left: 50%;
    }
    .circle-3{
      background: #11C6FF;
      width: 92px;
      height: 92px;
      filter: blur(5px);
      opacity: 0.2;
      top: 8%;
      left: 4%;
    }
    .circle-5{
      background: #FFDD00;
      width: 41px;
      height: 41px;
      top: 33%;
      left: 3%;
    }
    .circle-6{
      background: #FF7E06;
      width: 93px;
      height: 93px;
      top: 6%;
      right:27%;
      z-index: 11;
    }
    .circle-7{
      width: 166px;
      height: 166px;
      top: 30%;
      right: 5%;
    }
    .circle-8{
      background: #FFDD00;
      opacity: 0.7;
      filter: blur(10px);
      width: 53px;
      height: 53px;
      top: 757px;
      left: 459px;
    }
  }
}

#formModal{
  .modal-content{
    background: transparent;
    border: none;
    width: auto;
    .modal-header{
      background: url("../img/form-top-bg.png") no-repeat;
      background-size: cover;
      border-bottom: none;
      .close{
        background: transparent;
        padding: 2rem 2rem 0 0;
        outline: none;
        span{
          display: block;
          width: 25px;
          height: 25px;
          background: url("../img/form-close.svg");

        }
      }
    }
    .modal-body{
      background: #FFFFFF;
      border: 1px solid #5831B5;
      border-top: none;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      padding: 4rem;
      h2{
        font-family: $headFont;
        font-style: normal;
        font-weight: 900;
        font-size: 35px;
        line-height: 46px;
        color: #FF7E06;
        margin-bottom: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
      }
      form{
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
      }
      .form-group label{
        font-size: 20px;
        line-height: 27px;
        font-weight: 600;
        color: #646060;
        &::after{
          content: ' *';
          color: #FF7E06;
        }
      }
      .radio{
        margin-bottom: 40px;
        legend{
          font-size: 20px;
          line-height: 27px;
          font-weight: 600;
          color: #646060;
          margin-bottom: 20px;
          &::after{
            content: ' *';
            color: #FF7E06;
          }
        }
      }
      .custom-control.custom-radio{
        margin-bottom: 25px;
      }
      .custom-radio .custom-control-input:focus{
        outline: none;
        box-shadow: none;
      }
      .custom-radio .custom-control-label::before {
        border: 3px solid #FF7E06;
        background: #fff;
      }
      .custom-radio .custom-control-input:checked~.custom-control-label:focus{
        outline: none;
        box-shadow: none;
      }
      .custom-radio .custom-control-input:checked~.custom-control-label::after {
        background-image: url(../img/radio-checked.svg);
        outline: none;
      }
      .user_field{
        background: rgba(88, 49, 181, 0.1);
        border: 1px solid #E3D8FF;
        border-radius: 10px;
        margin-bottom: 40px;
        color: #1b1e21;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        padding: 1.4rem 1rem;
        &::placeholder{
          font-size: 20px;
          line-height: 27px;
          color: #BDBDBD;
        }
        &:focus{
          color: #1b1e21;
          outline: none;
          box-shadow: none;
        }
      }
      @import "buttons";
      .bubbly-button{
        width: 100%;
        font-weight: 700;
        margin-top: 60px;
      }
      .agree-text{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #BDBDBD;
        padding: 20px;
      }
    }
  }
}
#callbackModal{
  @import "buttons";
  .bubbly-button{
    //width: 100%;
    font-weight: 700;
    width: 100%;
  }

  .modal-content{
    background: transparent;
    width: auto;
    border: none;
    h3{
      font-size: 24px;
      line-height: 29px;
      color: #FF7E06;
      margin-bottom: 20px;
    }
    .modal-header{
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
      background: url("../img/form-top-bg.png") no-repeat;
      background-size: cover;
      border-bottom: none;
      .close{
        background: transparent;
        padding: 2rem 2rem 0 0;
        outline: none;
        span{
          display: block;
          width: 25px;
          height: 25px;
          background: url("../img/form-close.svg");
        }
      }
    }
    .modal-body{
      background: #FFFFFF;
      //border: 1px solid #5831B5;
      border-top: none;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      padding: 3rem;
      label{
        font-size: 18px;
        color: #828282;
      }
      .user_phone{
        background: rgba(88, 49, 181, 0.1);
        border: 1px solid #E3D8FF;
        border-radius: 10px;
        margin-top: 40px;
        color: #BDBDBD;
        font-size: 18px;
        padding: 1.4rem 1.2rem;
        &:focus{
          color: #1b1e21;
        }
      }
    }
  }
}

@import "responsive";